{
    "uuid": "{{serviceId}}",
    "summary": "ValueSet for Service Definition Card",
    "indicator": "info",
    "detail": "ValueSet for the service",
    "suggestions": [{
        "label": "ValueSet for the service",
        "uuid": "value-set",
        "actions": [{
            "type": "create",
            "description": "",
            "resource": "{{valueSet}}"
        }]
    }],
    "source": {
        "label": "Definition"
    }
}
